.button {
  min-height: 50px;
  min-width: 9%;
  border-left: 1px solid #007bff;
  border-right: 1px solid #007bff;
  font-size: 24px;
  color: #007bff;
  transition: all 0.3s ease;
  &:hover {
    background-color: #4dabf5;
    color: white;
  }
}
